.banner {
    height: 100%;
    padding: 0 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .homeIcon {
        width: 50px;
        color: #fff;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
        font-size: 32px;
        flex-grow: 2;
        text-align: center;
    }
    .right {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .save {
        font-size: 32px;
        background: transparent;
        color: #8787ff;
        border: none;
        padding: 10px;
    }
}

.resultFigure {
    background-color: rgba(255, 255, 255, 0.95);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    figcaption {
        font-weight: 600;
        font-size: 30px;
        color: #000;
        padding: 20px 30px;
        text-align: center;
    }
    img {
        width: 100%;
    }
}
