.figure {
    margin: 0;
    width: 100vw;
    height: 100vh;
    img {
        height: 100%;
        object-fit: contain;
    }
}

.group {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    list-style: none;
    padding: 0;

    border: 1px solid lightgray;
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50%;
    scroll-snap-type: x mandatory;

    li {
        scroll-snap-align: center;
        display: inline-block;

        border-radius: 3px;
        font-size: 0;
        margin-right: 5px;
        width: 200px;
        height: 200px;

        figure {
            position: relative;
            width: 200px;
            height: 200px;

            img {
                object-fit: contain;
                width: 100%;
            }
            figcaption {
                font-size: 30px;
                line-height: normal;
                position: absolute;
                bottom: 20px;
                right: 0;
                padding: 8px 12px;
                background: #000;
                color: #fff;
                font-weight: 200;
            }
        }
    }
}
