:global {
    .noUi-target {
        background: #666666;
        border: 0;
        box-shadow: none;

        .noUi-connect {
            background: #fff;
            box-shadow: none;
        }
    }

    .noUi-horizontal {
        height: 6px;
        .noUi-handle {
            width: 30px;
            height: 30px;
            top: -10px;
            background: #fff;
            border: 0;
            border-radius: 50%;
            box-shadow: none;
            transition: box-shadow 0.2s ease-out;
        }
        .noUi-tooltip {
            font-size: 25px;
            background: transparent;
            border: 0;
            color: #fff;
        }
    }

    .noUi-handle {
        &:active {
            box-shadow: 0 0 0px 7px rgba(0, 0, 0, 0.1);
        }
        &::before,
        &::after {
            content: none;
        }
    }
}

.colorSlider {
    .titleWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0 50px 10px;
    }
    .colorpicker {
        min-height: 360px;
        width: 320px;
        margin: 0 auto;
        padding: 20px;
        // border: 1px solid #bfbfbf;
        // background: #bfbfbf;
        font-size: 20px;
        display: flex;
        min-width: 200px;
        justify-content: space-around;
        :global {
            #red .noUi-connect {
                background: #c0392b;
            }

            #green .noUi-connect {
                background: #27ae60;
            }

            #blue .noUi-connect {
                background: #2980b9;
            }
        }
    }
}
